.step-refresh {
    position: sticky;
    bottom: 35px;
    width: 40px;
    height: 40px;
    margin: 16px auto 0;
    z-index: 10;
}

.button-refresh {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 8px;
    border: 0;
    border-radius: 50%;
    background-color: var(--color-gray-600);
    line-height: 1px;

    &.is-loading {
        animation: spin 0.75s linear infinite;
    }
}

.button-refresh-icon {
    display: block;
    width: 24px;
    height: 24px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
