.status-title {
    display: flex;
    flex-direction: column;
}

.status-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.status-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.growth-message {
    color: var(--color-gray-400);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
}

.level {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-white);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.level-max {
    color: var(--color-gray-400);
}

.xp-bar {
    width: 100%;
    height: 8px;
    background-color: var(--color-gray-600);
    border-radius: 100px;
    overflow: hidden;

    .filled {
        height: 100%;
        background-color: var(--color-white);
        transition: width 0.3s ease;
        width: var(--xp-width, 0%);
        border-radius: 100px;
    }
}

.xp-remaining {
    color: var(--color-main-orange-default);
    text-align: right;
    margin-bottom: 30px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}
