.sub-quest-card {
    padding: 13px 15px;
    border: 1px solid var(--color-gray-700);
    border-radius: 10px;
    background-color: var(--color-gray-800);
    box-shadow: 0 0 40px 0 rgb(255 255 255 / 5%) inset;
}

.sub-quest-info {
    display: flex;
}

.essential {
    display: block;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-main-orange-default);
    line-height: 17px;

    & + .remaining {
        margin-left: 8px;
    }
}

.remaining {
    display: block;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-sub-light-blue);
    line-height: 17px;
}

.frequency {
    display: block;
    flex: 0 0 auto;
    margin-left: 8px;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-gray-200);
    line-height: 17px;

    & + .attribute {
        &::before {
            margin: 0 4px;
            content: '|';
        }
    }
}

.attribute {
    display: block;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-gray-200);
    line-height: 17px;

    & + .attribute {
        margin-left: 4px;

        &::before {
            content: ',';
        }
    }
}

.description {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: var(--color-white);
    line-height: 20px;
}

.button-verify {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 36px;
    margin-top: 16px;
    border-radius: 5px;
    background-color: var(--color-gray-600);
    font-size: 14px;
    color: var(--color-white);
    font-weight: 500;
    line-height: 36px;
}
