@mixin ellipsis($lines: 1) {
    @if $lines == 1 {
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    } @else {
        display: block;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip-path: rect(0 0 0 0);
    overflow: hidden;
}

@mixin placeholder-color($placeholder-color: var(--color-gray-400), $font-weight: 500) {
    &::placeholder {
        font-weight: $font-weight;
        color: $placeholder-color;
        opacity: 1;
    }
}

@mixin remove-scroll($direction) {
    @if $direction == x {
        overflow: auto hidden;
    } @else if $direction == y {
        overflow: hidden auto;
    } @else {
        overflow: auto;
    }

    overflow: -moz-scrollbars-none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
