.action-item {
    border-bottom: 1px solid var(--color-gray-700);
}

.action-item-inner {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 16px 14px;
}

.action-name {
    display: block;
    flex: 0 0 auto;
    font-size: 16px;
    color: var(--color-white);
    line-height: 24px;
}

.version {
    display: block;
    flex: 0 0 auto;
    margin-left: auto;
    font-size: 14px;
    color: var(--color-gray-200);
    line-height: 20px;
}

.action-link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 16px 8px 16px 14px;
}

.icon-chevron {
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.button-action {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 0;
    padding: 16px 14px;
    border-radius: 0;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    &.logout {
        color: var(--color-white);
    }

    &.withdrawal {
        color: var(--color-state-error);
    }

    .icon-action {
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        vertical-align: top;
    }
}
