.status-page {
    padding: 0 14px 8px;
}

.page-title {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-white);
    line-height: 28px;
}

.today-sub-quest-list {
    margin-top: 16px;
}
