.container {
  padding: 14px;
}

.header {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 12px;
}

.date-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-row{
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background: var(--color-gray-800);
  color: var(--color-gray-100);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 10px;

  &.open {  
    margin-bottom: 12px;
  }
}

.select-button-icon {
  display: block;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
}