.step-sub-quest-list {
    margin-top: 22px;
    padding: 0 14px;
}

.step-sub-quest-list-item {
    position: relative;

    & + .step-sub-quest-list-item {
        margin-top: 8px;
    }
}

.checkbox {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 13px 51px 13px 15px;
    border: 1px solid var(--color-gray-700);
    border-radius: 10px;
    background-color: var(--color-gray-800);
    text-align: left;

    &[aria-checked='true'] {
        border-color: var(--color-gray-200);
        background-color: var(--color-gray-700);

        .sub-quest-description {
            color: var(--color-white);
        }
    }
}

.checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
}

.sub-quest-box {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.sub-quest-frequency {
    display: block;
    flex: 0 0 auto;
    font-size: 12px;
    color: var(--color-gray-200);
    font-weight: 500;
}

.sub-quest-rewards {
    display: block;
    flex: 0 0 auto;
    font-size: 12px;
    color: var(--color-gray-200);
    font-weight: 500;

    &::before {
        margin: 0 4px;
        content: '/';
    }
}

.sub-quest-description {
    margin-top: 4px;
    font-size: 14px;
    color: var(--color-gray-100);
    line-height: 20px;
}

.button-edit {
    position: absolute;
    right: 9px;
    bottom: 16px;
    padding: 6px;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    line-height: 1px;

    .edit-icon {
        display: block;
        width: 24px;
        height: 24px;
    }
}
