.profile-header {
    padding: 12px 14px;
}

.profile-header-inner {
    display: grid;
    grid-template-columns: min-content minmax(0, 1fr) min-content;
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    gap: 0 12px;
    padding: 25px 16px;
    border-radius: 10px;
    background-color: var(--color-gray-800);
}

.profile-image-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;

    .profile-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.profile-nickname {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 2px;
    font-size: 16px;
    color: var(--color-white);
    line-height: 22px;
}

.profile-tier {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-bottom: 2px;
    font-size: 14px;
    color: var(--color-gray-200);
    line-height: 20px;
    text-transform: capitalize;
}

.button-profile-edit {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    line-height: 1px;

    .icon-edit {
        width: 24px;
        height: 24px;
    }
}

.action-item {
    border-bottom: 1px solid var(--color-gray-700);
}

.action-item-inner {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 16px 14px;
}

.action-name {
    display: block;
    flex: 0 0 auto;
    font-size: 16px;
    color: var(--color-white);
    line-height: 24px;
}

.version {
    display: block;
    flex: 0 0 auto;
    margin-left: auto;
    font-size: 14px;
    color: var(--color-gray-200);
    line-height: 20px;
}

.action-link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 16px 8px 16px 14px;
}

.icon-chevron {
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.button-action {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 0;
    padding: 16px 14px;
    border-radius: 0;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    &.logout {
        color: var(--color-white);
    }

    &.withdrawal {
        color: var(--color-state-error);
    }

    .icon-action {
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        vertical-align: top;
    }
}
