@use '@/shared/styles/utils/mixins';

.step-radio-group {
    margin-top: 22px;
    padding: 0 14px;
}

.step-radio {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 13px 15px;
    border: 1px solid var(--color-gray-700);
    border-radius: 10px;
    background-color: var(--color-gray-800);
    text-align: left;

    &[aria-checked='true'] {
        border-color: var(--color-gray-200);
        background-color: var(--color-gray-600);
    }

    & + .step-radio {
        margin-top: 8px;
    }
}

.step-radio-icon {
    display: block;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
}

.step-radio-name {
    display: block;
    flex: 1 1 auto;
    min-width: 0;
    margin-left: 12px;
    font-size: 16px;
    color: var(--color-white);
    line-height: 20px;
    word-break: break-all;
    overflow-wrap: break-word;

    @include mixins.ellipsis(2);
}
