@use '@/scss/utils/mixins';

.history-summary {
    margin-top: 20px;
}

.summary-title {
    padding: 0 14px;
    font-size: 16px;
    color: var(--color-white);
    line-height: 22px;
}

.summary-list {
    display: flex;
    margin-top: 12px;

    @include mixins.remove-scroll(x);
}

.summary-item {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 156px;
    padding: 10px 16px;

    & + .summary-item {
        border-left: 2px solid var(--color-gray-600);
    }

    &.progress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;

        .summary-title {
            flex: 0 0 auto;
        }

        .progress-bar {
            width: 54px;
        }
    }

    .summary-label {
        display: block;
        font-size: 12px;
        color: var(--color-gray-300);
        line-height: 17px;
    }

    .summary-count {
        display: flex;
        align-items: flex-end;
        margin-top: 4px;

        .count {
            display: block;
            flex: 0 0 auto;
            font-size: 16px;
            color: var(--color-white);
            line-height: 22px;
        }

        .unit {
            display: block;
            flex: 0 0 auto;
            margin-left: 4px;
            font-size: 12px;
            font-weight: 500;
            color: var(--color-gray-300);
            line-height: 17px;
        }
    }
}

.progress-bar {
    position: relative;
    width: 54px;
    height: 54px;

    .progress-svg {
        display: block;
        transform: rotate(-90deg);
    }

    .frame {
        stroke: var(--color-gray-500);
    }

    .bar {
        stroke: var(--color-gray-100);
    }

    .progress-text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 16px;
        font-weight: bold;
        color: var(--color-white);
        line-height: 22px;
        transform: translate(-50%, -50%);
    }
}
