.main-quest-area {
    padding: 20px 14px;
}

.sub-quest-area {
    padding: 32px 14px 16px;
    border-top: 1px solid var(--color-gray-700);
}

.page-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
    line-height: 22px;

    & ~ .page-title {
        margin-top: 40px;
    }
}

.today-sub-quest-list {
    margin-top: 12px;
}

.main-quest-date {
    font-size: 12px;
    color: var(--color-gray-300);
    line-height: 17px;
}

.main-quest-title {
    display: block;
    margin-top: 4px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-white);
    line-height: 25px;
}

.reward-list {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.reward-item {
    flex: 0 0 auto;
}

.button-reward {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    border-radius: 146px;
    background-color: var(--color-gray-600);
}

.reward-icon {
    display: block;
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
}

.reward-text {
    display: block;
    flex: 0 0 auto;
    margin-left: 4px;
    font-size: 14px;
    color: var(--color-gray-100);
    line-height: 20px;
}
