.highlight {
    color: var(--color-state-error);
}

.quest-report-bottom-sheet {
    min-height: 421px;
}

.quest-report-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
}

.quest-report-radio {
    display: block;
    padding: 7px 11px;
    border: 1px solid var(--color-gray-600);
    border-radius: 100px;
    background-color: var(--color-gray-600);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-200);
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

    &[aria-checked='true'] {
        border-color: var(--color-white);
        color: var(--color-white);

        &::before {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin: 6px 8px 0 0;
            vertical-align: top;
            content: '';
        }

        &.easy::before {
            background-color: var(--color-state-success);
        }

        &.normal::before {
            background-color: var(--color-sub-yellow);
        }

        &.hard::before {
            background-color: var(--color-main-orange-default);
        }
    }
}

.quest-report-textarea {
    margin-top: 24px;
}
