@use '@/shared/styles/utils/mixins';

.status-header {
    display: flex;
    flex: 0 0 auto;
    padding: 14px 14px 10px;
}

.profile-area {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    padding: 4px 11px;
    border: 1px solid var(--color-gray-700);
    border-radius: 3px;
    background-color: var(--color-gray-800);
}

.thumbnail {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    .thumbnail-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.nickname {
    display: block;
    flex: 1 1 auto;
    min-width: 0;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-gray-100);
    line-height: 17px;

    @include mixins.ellipsis;
}

.button-tier-info {
    box-sizing: border-box;
    position: relative;
    height: 34px;
    min-width: 115px;
    flex: 0 0 auto;
    margin-left: 23px;
    border: 1px solid var(--color-gray-700);
    border-radius: 3px;
    background-color: var(--color-gray-800);
    font-size: 12px;
    font-weight: 500;
    color: var(--color-white);
    line-height: 32px;
    text-transform: capitalize;
}

.tier-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 34px;
    transform: translateX(-50%);
}
