.header {
    flex: 0 0 auto;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 14px 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;
    width: 100%;
}

.nickname,
.tier-info {
    display: flex;
    align-items: center;
    height: 34px;
    padding: 7px 12px;
    box-sizing: border-box;
    color: var(--color-white);
    border: 1px solid var(--color-gray-700);
    background: var(--color-gray-800);
    border-radius: 3px;
}

.nickname {
    flex: 2;
    gap: 10px;
    min-width: 0;
}

.nickname > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.tier-icon {
    position: relative;
    left: -28px;
    z-index: 1000;
    width: 30px;
    height: 30px;
}

.tier-text {
    padding-left: 10px;
    text-transform: capitalize;
}
