.main {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background: var(--color-gray-700);
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
}

.left {
  color:var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
}

.left svg {
  width: 24px;
  height: 24px;
}

.icon {
  width: 20px;
  height: 20px;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin-top: 8px;
}

.label {
  color: var(--color-gray-100);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
}

.level {
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  display: flex;
  gap: 4px;
  justify-content: flex-end;
}

.xp-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  color: var(--color-gray-300);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}