@use '@/scss/utils/mixins';

.attribute-counter {
    margin-top: 4px;
    padding: 0 14px;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-gray-200);
    line-height: 17px;

    &.highlight {
        color: var(--color-main-orange-dark);
    }
}

.attribute {
    display: flex;
    gap: 6px;
    margin-top: 22px;
    padding: 0 14px;
}

.attribute-group {
    flex: 1 1 auto;
    min-width: 0;
    width: 50%;
}

.attribute-radio {
    display: block;
    padding: 15px;
    border: 1px solid var(--color-gray-700);
    border-radius: 10px;
    background-color: var(--color-gray-800);
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    cursor: pointer;

    &[aria-checked='true'] {
        border-color: var(--color-gray-100);
    }
}

.attribute-icon {
    display: block;
}

.attribute-name-cover {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.attribute-name {
    display: block;
    flex: 0 1 auto;
    min-width: 0;
    font-size: 14px;
    color: var(--color-white);
    line-height: 21px;

    @include mixins.ellipsis;
}

.badge-mentality,
.badge-skill {
    display: block;
    flex: 0 0 auto;
    padding: 0 8px;
    border-radius: 100px;
    font-size: 12px;
    line-height: 21px;
    background-color: var(--color-gray-600);
}

.badge-mentality {
    color: var(--color-main-orange-default);
}

.badge-skill {
    color: var(--color-sub-light-blue);
}

.attribute-level {
    display: block;
    margin-top: 4px;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}
