.highlight {
    color: var(--color-main-orange-default);
}

.calendar-wrapper {
    margin: 12px auto;
    padding: 24px 12px;
    background-color: var(--color-gray-800);
    display: flex;
    justify-content: center;
}

/* stylelint-disable custom-property-pattern, selector-class-pattern */
:global(.rdp-root) {
    --rdp-accent-color: var(--color-main-orange-default) !important;
    --rdp-range_middle-background-color: var(--color-gray-600) !important;
    --rdp-disabled-background-color: var(--color-gray-600) !important;
    --rdp-nav-height: 65px !important;
    --rdp-disabled-opacity: 1 !important;
}

:global(.rdp-caption_label) {
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 25px !important;
}

:global(.rdp-weekday) {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    color: var(--color-gray-300) !important;
}

:global(.rdp-day) {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}

:global(.rdp-range_start) {
    opacity: 1 !important;
    border-radius: 36px !important;
    border-top-left-radius: 9999px !important;
    border-bottom-left-radius: 9999px !important;
}

:global(.rdp-range_end) {
    border-radius: 36px !important;
    border-top-right-radius: 9999px !important;
    border-bottom-right-radius: 9999px !important;
}

:global(.rdp-disabled) {
    color: var(--color-gray-500) !important;
}

:global(.rdp-range_middle.rdp-disabled) {
    color: var(--color-white) !important;
}

:global(.rdp-range_middle.saturday) {
    border-top-right-radius: 36px !important;
    border-bottom-right-radius: 36px !important;
}

:global(.rdp-range_middle.sunday) {
    border-top-left-radius: 36px !important;
    border-bottom-left-radius: 36px !important;
}

:global(.rdp-month_grid) {
    border-collapse: separate !important;
    border-spacing: 0 20px !important;
}

:global(.my-start) {
    opacity: 1 !important;
    border-radius: 50% !important;
    background-color: var(--color-main-orange-default) !important;
    color: var(--color-white) !important;
}
/* stylelint-enable custom-property-pattern, selector-class-pattern */
