.card {
    background: var(--color-gray-600);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
    margin-bottom: 8px;
}

.card-header {
    display: flex;
    background: var(--color-gray-700);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
}

.card-content {
    display: flex;
    padding: 12px 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.top-row {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: var(--color-gray-200);
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
}

.edit-btn {
    & svg {
        width: 24px;
        height: 24px;
    }
}

.title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.comment {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
}

.quest-report-radio {
    display: block;
    padding: 4px 8px;
    border-radius: 100px;
    background-color: var(--color-gray-500);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    cursor: pointer;
    color: var(--color-white);

    &::before {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 4px 8px 0 0;
        vertical-align: top;
        content: '';
    }

    &.easy::before {
        background-color: var(--color-state-success);
    }

    &.normal::before {
        background-color: var(--color-sub-yellow);
    }

    &.hard::before {
        background-color: var(--color-main-orange-default);
    }
}

.attributes-row {
    display: flex;
    gap: 8px; // 각 속성 사이 간격
    flex-wrap: wrap; // 넘치면 다음 줄로
}

.attribute {
    &::after {
        content: ',';
    }

    &:last-child::after {
        content: '';
    }
}
