.dialog {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 347px;
    padding: 32px 16px 16px;
    border-radius: 10px;
    background-color: var(--color-gray-700);
}

.dialog-title {
    display: block;
    font-size: 18px;
    color: var(--color-white);
    line-height: 25px;
    text-align: center;
}

.dialog-description {
    margin-top: 4px;
    font-size: 12px;
    color: var(--color-gray-200);
    line-height: 17px;
    text-align: center;
    word-break: break-all;
    overflow-wrap: break-word;
}

.dialog-actions {
    display: flex;
    gap: 8px;
    margin-top: 24px;

    button {
        flex: 1 1 auto;
        width: 50%;
        min-width: 0;
    }
}
