.bottom-navigation {
    flex: 0 0 auto;
    background-color: var(--color-black);
}

.tab-list {
    display: flex;
    justify-content: center;
}

.tab-item {
    flex: 1 1 auto;
    min-width: 0;

    &[aria-current='page'] {
        .tab-link {
            color: var(--color-white);
        }
    }
}

.tab-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: var(--color-gray-400);
    user-select: none;
    -webkit-user-drag: none;
}

.tab-icon {
    display: block;
    flex: 0 0 auto;
    width: 28px;
    height: 28px;
}
