.step-description {
    margin-top: 4px;
    padding: 0 14px;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-gray-200);
    line-height: 17px;

    &.active {
        color: var(--color-main-orange-dark);
    }
}
