.quest-empty {
    padding: 51px 16px;
}

.icon-empty {
    display: block;
    width: 157px;
    height: 141px;
    margin: 0 auto;
}

.message {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
    line-height: 22px;
    text-align: center;
}

.icon-arrow-down {
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px auto 0;
}
