.checkbox {
    display: inline-flex;
    align-items: center;
    text-align: left;
    vertical-align: top;

    &:disabled {
        cursor: default;
    }

    &[aria-checked='true'] {
        .checkbox-text {
            color: var(--color-white);
        }
    }

    &-icon {
        display: block;
        flex: 0 0 auto;
        margin-right: 12px;
    }

    &-text {
        font-size: 14px;
        color: var(--color-gray-100);
        line-height: 20px;
    }
}
